:root {
    --federal-blue: #03045eff;
    --marian-blue: #023e8aff;
    --process-cyan: #48acd3ff;
    --non-photo-blue: #90e0efff;
    --light-cyan: rgb(169, 213, 222);
    --baby-powder: rgb(232, 233, 228);
    --night: #121212ff;
}

.home-aulas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--baby-powder);
    width: 54rem;
    height: 36rem;
    border-radius: 20px;

}

.nav-home {
    width: 100%;
    background-color: var(--federal-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 0rem;

}

.nav-home .link {
    color: var(--baby-powder);
    background: none;
    text-decoration: none;
    font-size: 1rem;
    transition: color ease-in-out 0.3s;
}

.link:hover {
    cursor: pointer;
    color: var(--process-cyan);
}

.additem-btn {
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: solid var(--baby-powder) 1px;
    transition: color ease-in-out 0.2s;
    color: var(--federal-blue);
    background-color: var(--baby-powder);

    width: 10rem;
    height: 2rem;
}

.additem-btn:hover {
    cursor: pointer;
    color: var(--process-cyan);
    background-color: var(--federal-blue);
    border: solid var(--process-cyan) 1px;
    text-align: center;
}