:root {
    --federal-blue: #03045eff;
    --marian-blue: #023e8aff;
    --process-cyan: #48acd3ff;
    --non-photo-blue: #90e0efff;
    --light-cyan: rgb(169, 213, 222);
    --baby-powder: rgb(240, 241, 234);
    --night: #121212ff;
}
