:root {
    --federal-blue: #03045eff;
    --marian-blue: #023e8aff;
    --process-cyan: #48acd3ff;
    --non-photo-blue: #90e0efff;
    --light-cyan: rgb(169, 213, 222);
    --baby-powder: rgb(240, 241, 234);
    --night: #121212ff;
}

.error-section{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding:20px;
gap:10px;

& h1{
    font-weight: 900;
    font-size: 8rem;
}
}

.return-home-btn {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid var(--federal-blue) 2px;
    transition: color ease-in-out 0.3s;
    color: var(--federal-blue);
    background-color: var(--baby-powder);
}

.return-home-btn:hover {
    cursor: pointer;
    color: var(--process-cyan);
    background-color: var(--federal-blue);
}